<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./Styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
</head>

<body>


    <header id="header">
        <article class="header__info">
            <p class="header__line">________</p>
            <p class="header__title">{{title}}</p>
            <p class="header__text">Tea drinks with exotic fruits mixtures. Drinks that offers health, well-being and a lifestyle
                based on the pursuit of status and designed to accompany everyday moments of consumption.</p>
        </article>
    </header>

    <nav class="nav">
        <img class="nav__logo" src="./Imagenes/logo.png" alt="upsi">
        <ul class="nav__banner">
            <a href="#"><li class="nav__link">Hatsu</li></a>
            <a href="#"><li class="nav__link">Snacks</li></a>
            <a href="/store"><li class="nav__link">Products</li></a>
            <a href="#"><li class="nav__link">Contact</li></a>
        </ul>
    </nav>

    <section>

        <article class="publishing">
            <p class="publishing__info">Hatsu Snacks! Noble ingredients and surprising mixtures are the basis of our 4 categories:
                nuts, bars, snacks and superfoods. Turning them into a delicious and full of benefits, ready to enjoy at
                any time of day.</p>
            <br>
            <button class="publishing__button"> FIND OUT MORE</button>
        </article>
        <img class="publishing__title" src="./Imagenes/publicidadDos.jpg" alt="upsi">

    </section>

    <section class="product">
        <article>
            <p class="product__line">________</p>
            <h1 class="product__title">PRODUCTS</h1>
            <p class="product__info">Curious about a product? Give it a try! <br> Choose a product, explore and then drink
                It :)</p>
        </article>

        <article class="product__product">
            <img class="product__one" src="./Imagenes/productoUno.jpg" alt="upsi">
            <img class="product__two" src="./Imagenes/productoDos.jpg" alt="upsi">
            <img class="product__three" src="./Imagenes/productoTres.jpg" alt="upsi">
            <img class="product__four" src="./Imagenes/productoCuatro.jpg" alt="upsi">
            <img class="product__five" src="./Imagenes/productoCinco.jpg" alt="upsi">
            <h2 class="product__title__one">Snacks</h2>
            <h2 class="product__title__two">Tea</h2>
            <h2 class="product__title__three">Veggiedrink</h2>
        </article>
    </section>

    <section class="choose">
        <article>
            <p class="choose__line">________</p>
            <h1 class="choose__title">CHOOSE YOUR HATSU</h1>
            <p class="choose__text">Curious about a tea? <br> Built your own! Choose a product of your liking and explore.</p>
            <p>click on Hatsu bottle</p>
        </article>

        <article>
            <img id="choose__product" src="./Imagenes/producto.jpg" alt="upsi">
            <h1 class="choose__hashtag">#ACOLORFOODLIFE</h1>
            <p class="choose__info">HEY! WE ARE SO <br> HUNGRY!
            </p>
        </article>
    </section>

    <section class="moments">
        <article>
            <p class="moments__line">________</p>
            <h1 class="moments__title">HATSU MOMENTS</h1>
            <p class="moments__text">COOK COOL!</p>
        </article>
        <article class="moments__moments">
            <img id="moments__one" src="./Imagenes/momentoUno.jpg" alt="upsiiiii">
            <img id="moments__two" src="./Imagenes/momentoDos.jpg" alt="upsi">
        </article>
    </section>

    <section class="information">
        <article class="information__container">
            <img class="information__img" src="./Imagenes/hatsuUno.jpg" alt="upsi">
            <h1 class="information__title">GINGER & LEMON <br> TEA
            </h1>
        </article>

        <article class="information__container">
            <h1 class="information__nutrition">NUTRITIONAL TABLE</h1>
            <img class="information__graphic" src="./Imagenes/tablaUno.png" alt="upsi">
        </article>

        <article class="information__container">
            <h1 class="information__nutrition">NUTRITIONAL TABLE</h1>
            <img class="information__graphic" src="./Imagenes/tablaDos.png" alt="upsi">
        </article>


        <article class="information__container">
            <img class="information__img" src="./Imagenes/hatsuDos.jpg" alt="upsi">
            <h1 class="information__title">YUZU & <br> CAMOMILE <br> FLAVORED <br> GREEN TEA</h1>
        </article>

        <article class="information__container__diferent__one">
            <h1 class="information__nutrition">NUTRITIONAL TABLE</h1>
            <img class="information__graphic__diferent" src="./Imagenes/tablaTres.png" alt="upsi">
        </article>


        <article class="information__container__diferent__two">
            <img class="information__img__diferent" src="./Imagenes/hatsuTres.jpg" alt="upsi">
            <h1 class="information__title__diferent">COCONUT DRINK
        </article>


        <article class="information__container__diferent__three">
            <img class="information__img__diferent__three" src="./Imagenes/hatsuCuatro.jpg" alt="upsi">
            <h1 class="information__title__diferent__trhee">MIXED BARS <br> PACK
        </article>

        <article class="information__container__diferent__four">
            <h1 class="information__nutrition">NUTRITIONAL TABLE</h1>
            <img class="information__graphic__diferent" src="./Imagenes/tablaCuatro.png" alt="upsi">
        </article>

    </section>

    <section>
        <article class="sigin">
            <img class="sigin__img" src="./Imagenes/fondoUltimo.jpg" alt="upsi">
            <h1 class="sigin__title">Let’s stay in touch</h1>
            <input class="sigin__box" type="text">
            <button class="sigin__button">Sign up</button>
            <p class="sigin__info">Sign uo to be the first to learn about <br> specials and news</p>
            <input class="sigin__rect" type="checkbox" name="" id="">
            <p class="sigin__checkText">By checking this box, I agree to Hatsu’s Privacy Policy</p>

        </article>
    </section>

    <footer class="footer">
        <ul class="footer__li">
            <li class="footer__link">worldwide</li>
            <li class="footer__link">who we are</li>
            <li class="footer__link">contact us</li>
        </ul>

        <img class="footer__social" src="./Imagenes/redes.png" alt="upsi">
        <p class="footer__text">personal data protection policy</p>
        <img class="footer__logo" src="./Imagenes/logo.png" alt="upsi">
    </footer>
    <script src="./Styles/scrips.js"></script>
</body>

</html>