<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
</head>


<body>
  
     <nav class="nav__Store">
        <img class="nav__Store__logo" src="./Imagenes/logo.png" alt="upsi">
        <ul class="nav__Store__banner">
            <a href="#"><li class="nav__Store__link">Hatsu</li></a>
            <a href="#"><li class="nav__Store__link">Snacks</li></a>
            <a href="store.handlebars"><li class="nav__Store__link">Products</li></a>
            <a href="#"><li class="nav__Store__link">Contact</li></a>
        </ul>
        <img class="nav__Store__car" src="./Imagenes/products/carrito.png" alt="upsi">
    </nav>

    <header class="header__Store">
        <article class="header__Store__info">
            <p class="header__Store__line">________</p>
            <p class="header__Store__title">PRODUCTS</p>
            <p class="header__Store__text">Curious about a product? Give it a try! <br> Choose a product, explore and then drink It :)</p>
        </article>
    </header>

  

    <section class="section">
        <article class="filter">   
            <div class="filter__type">
                <h1 class="filter__type__title">Type of product</h1>
                <ul type="none" class="filter__type__list">
                    <li class="filter__type__link">Tea</li>
                    <li class="filter__type__link">Veggiedrink</li>
                    <li class="filter__type__link">Snacks</li>
                    <li class="filter__type__link">All</li>
                </ul>
            </div>
             <div class="filter__type">
                <h1 class="filter__type__title">Color/Taste</h1>
                <ul type="none" class="filter__type__list">
                    <li class="filter__type__link">Blue</li>
                    <li class="filter__type__link">Green</li>
                    <li class="filter__type__link">Pink</li>
                    <li class="filter__type__link">Purple</li>
                    <li class="filter__type__link">Black</li>
                    <li class="filter__type__link">Yellow</li>
                    <li class="filter__type__link">Red</li>
                    <li class="filter__type__link">Orange</li>
                    <li class="filter__type__link">White</li>
                </ul>
            </div>
               <div class="filter__type">
                <h1 class="filter__type__title">Sort by</h1>
                <ul type="none" class="filter__type__list">
                    <li class="filter__type__link">Favorites</li>
                    <li class="filter__type__link">Price</li>
                </ul>
            </div>

        </article>
        

        <article class="products">
            {{#each products}}
            <div class="products__pro">
           <a href="/store/?product__name={{nombre}}"><img class="products__img" src={{imagen}} alt="upsi"></a> 
            <div> 
            <h1 class="products__title">{{nombre}}</h1>
            <h1 class="products__price">{{precio}}</h1>
            </div>
           
            </div>
            {{/each}}
        </article> 
 
    </section>
    
    <footer class="footer">
        <ul class="footer__li">
            <li class="footer__link">worldwide</li>
            <li class="footer__link">who we are</li>
            <li class="footer__link">contact us</li>
        </ul>

        <img class="footer__social" src="./Imagenes/redes.png" alt="upsi">
        <p class="footer__text">personal data protection policy</p>
        <img class="footer__logo" src="./Imagenes/logo.png" alt="upsi">
    </footer>
</body>

</html>