.description{
    display: flex;
    width: 45%;
    flex-wrap: wrap;
    padding-top: 5%;
    text-align: center;
    margin: auto;
    margin-left: 20%;
}


.description__img{
    width: 80%;
    text-align: left;
}

.description__img__big{
    width: 100%;
}

.description__img__small{
    width: 20%;
    
}

.description__img__small:hover {
    -webkit-filter: blur(2px);
  }

  .description__info__title{
    color: black;
    font-size: 4vh;
    width: 100%;
    font-weight: 300;
    text-align: left;
    margin-left: 10%;
    top: 20%;
  }

  .description__info__price{
    font-weight: 300;
    font-size: 12pt;
    color: rgb(0, 0, 0);
    margin: 0%;
    padding-left: 25%;
    padding-top: 5%;
  }
  .description__info__price::before{
    content: "$";
  }

  .description__info__unit{
    font-weight: 300;
    font-size: 10pt;
    margin: 0%;
    color: rgb(184, 184, 184);
    padding-left: 25%;
    height: 5%;
  }

  .description__info{
    width:35%;
    position: absolute;
    margin-left: 30%;
    margin-top: 5%;
    background: white;
    text-align: left;
}


.description__info__cant{
    display: flex;
    flex-wrap: wrap;
    padding-left: 25%;
    padding-top: 5%;
}

.description__info__q{
    font-weight: 300;
    font-size: 12pt;
    color: rgb(0, 0, 0);
    margin: 0%;
    width: 20%;
    display: inline-block;
  }

  .description__info__u{
    font-weight: 300;
    font-size: 10pt;
    margin: 0%;
    color: rgb(184, 184, 184);
    height: 5%;
    width: 15%;
    margin-left: 50%;
    display: inline-block;
  }

  .description__button{
      text-align: center;
      margin: auto;
      margin-left: 40%;
      margin-top: 10%;
  }

  .description__button__add{
    background: black;
    display: block;
    color: white;
    border-radius: 10px;
    width: 70%;
    padding: 2%;
    font-size: 15pt;
  }

  .description__button__buy{
    background: white;
    margin-top: 5%;
    display: block;
    color: black;
    border-radius: 10px;
    font-size: 15pt;
    padding: 2%;
    width: 70%;
  }

  .description__description{
text-align: center;
padding-top: 25%;
margin-bottom: 25%;
  }

  .description__description__des{
    font-weight: 300;
    font-size: 15pt;
    color: rgb(146, 146, 146);
    margin: 0%;

  }

  .description__info__nombre{
    margin: 0%;
    font-size: 0%;
    padding: 0%;
  }

 