.products{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 15%;
    text-align: center;
    padding-left: 20%;
}

.products__pro{
    width: 100%;
    padding-top: 10%;
    display: inline-block;
}

.products__img:hover {
    -webkit-filter: blur(10px);
  }

.products__title{
    color: black;
    font-size: 5vh;
    width: 30%;
    font-weight: 300;
    text-align: right;
    margin-left: 10%;
    position: absolute;
    top: 20%;
    
}

.products__price{
    color: rgb(66, 66, 66);
    font-size: 2vh;
    font-weight: 300;
    text-align: right;
    margin-left: 70%;
    position: absolute;
    top: 65%;
    }

    .products__price::before{
        content: "-$";
        }

        .products__price::after{
            content: "-";
            }


.products__button{
    color: rgb(66, 66, 66);
    font-size: 2vh;
    font-weight: 300;
    background: transparent;
    text-align: right;
    border-radius: 10px;
    margin-left: 30%;
    position: absolute;
    top: 75%;
}

.products__info{
    position: relative;
    text-align: center;
    padding-left: 5%;
}

.products__img{
   width: 100%;
}
    
