
.header__Store{
    background-image: url(/Imagenes/products/fondoUno.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 700px;
    transition: 0.5s ease-in-out;
    padding-top: 10%;
}

.header__des{
    background-image: url(/Imagenes/products/fondoDos.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 700px;
    transition: 0.5s ease-in-out;
    padding-top: 10%;
}


.header__Store__info{
    padding-top: 20%;
    margin-left: 8%;
    color: white;
    margin-bottom: 10%;
}
.header__Store__title{
    font-weight: 400;
    font-size: 18pt;
    text-shadow: 0px 0px 10px RGBA(0, 0, 0, 0.5);
}

.header__Store__line{
    font-weight: 900;
    text-shadow: 0px 0px 10px RGBA(0, 0, 0, 0.1);
}

.header__des__line{
    color: white;
    font-weight: 900;
    text-shadow: 0px 0px 10px RGBA(0, 0, 0, 0.1);
}

.header__des__name{
    color: white;
    font-weight: 400;
    font-size: 18pt;
    text-shadow: 0px 0px 10px RGBA(0, 0, 0, 0.1);
}

.header__Store__text{
    font-weight: 300;
    width: 50%;
    height: 150px;
    font-size: 12pt;
    background: white;
    color: rgb(184, 184, 184);
    padding: 50px;
    padding-top: 4%;
}

.header__des__info{
    text-align: center;
    padding-top: 25%;
}

@media (min-width: 980px){
    .header__Store__title{
        font-weight: 400;
        font-size: 35pt;
        text-shadow: 0px 0px 10px RGBA(0, 0, 0, 0.1);
    }

    .header__des__name{
        color: white;
        font-weight: 400;
        font-size: 35pt;
        text-shadow: 0px 0px 10px RGBA(0, 0, 0, 0.1);
    }
    .header__Store__text{
        font-weight: 300;
        width: 30%;
        height: 150px;
        font-size: 14pt;
        background: white;
        color: rgb(184, 184, 184);
        padding: 50px;
        padding-top: 4%;
    }
        
  }

  @media (max-width: 1342){
    .header__Store__text{
        font-weight: 300;
        width: 30%;
        height: 150px;
        font-size: 14pt;
        background: white;
        color: rgb(184, 184, 184);
        padding: 50px;
    }
}

  @media (max-width: 1342){
    .header__Store__text{
        font-size: 10pt;
       
    }
}

  @media (max-width: 1270){
    .header__Store__text{
        font-size: 10pt;
       
    }
}

  @media (max-width: 650px){
    .header__Store__text{
        font-size: 8pt;
       
    }
    .header__Store__title {
        font-weight: 400;
        font-size: 14pt;
        text-shadow: 0px 0px 10px RGBA(0, 0, 0, 0.1);
      }
}