.information{
    text-align: center;
    display: flex;
    width: 100%;
    margin-top: 5%;
    flex-wrap: wrap;
}

.information__container{
    position: relative;
    margin-top: 10%;
}

.information__container__diferent__one{
    position: relative;
    margin-top: 20%;
}

.information__container__diferent__two{
    position: relative;
    margin-top: 10%;
}

.information__container__diferent__three{
    position: relative;
    margin-top: 10%;
}

.information__container__diferent__four{
    position: relative;
    margin-top: 10%;
}

.information__title{
    color: black;
    font-size: 20pt;
    font-weight: 300;
    text-align: right;
    margin-left: 10%;
    position: absolute;
    top: 50%;
}

.information__title__diferent{
    color: black;
    font-size: 20pt;
    font-weight: 300;
    text-align: right;
    margin-left: 20%;
    position: absolute;
    top: 20%;
}

.information__title__diferent__trhee{
    color: black;
    font-size: 20pt;
    font-weight: 300;
    text-align: right;
    margin-left: 10%;
    position: absolute;
    top: 20%;
}

.information__nutrition{
color: black;
font-size: 22pt;
font-weight: 300;
}

.information__graphic{
width: 90%;
 }

 .information__graphic__diferent{
    width: 100%;
     }

 .information__img{
 margin-left: 10%;
width: 60%;
transition: 0.08s ease-in-out;
 }

 .information__img:hover{
   width: 65%;
   transition: 1s ease-in-out;
    }

 .information__img__diferent{
    margin-left: 10%;
   width: 60%;
   transition: 1s ease-in-out;
    }

    .information__img__diferent:hover{
        width: 65%;
        transition: 1s ease-in-out;
         }

    .information__img__diferent__three{
        margin-left: 10%;
       width: 90%;
       transition: 1s ease-in-out;
        }

        .information__img__diferent__three:hover{
            width: 95%;
            transition: 1s ease-in-out;
             }
        
    

@media (min-width: 980px){
    .information__container{
        width: 50%;
    }
    .information__container__diferent__one{
        width: 35%;
    }
    .information__container__diferent__two{
        width: 65%;
    }
    .information__container__diferent__one{
        position: relative;
        margin-top: 10%;
    }
    .information__container__diferent__three{
        width: 40%;
    }
    .information__container__diferent__four{
        width: 60%;
    }

    .information__title{
        color: black;
        font-size: 40pt;
        font-weight: 300;
        text-align: right;
        margin-left: 10%;
        position: absolute;
        top: 50%;
        }

        .information__title__diferent{
            color: black;
            font-size: 40pt;
            font-weight: 300;
            text-align: right;
            margin-left: 60%;
            position: absolute;
            top: 20%;
            }

            .information__title__diferent__trhee{
                color: black;
                font-size: 40pt;
                font-weight: 300;
                text-align: right;
                margin-left: 80%;
                position: absolute;
                top: 0%;
                }
        
  }