.nav{
    text-align: center;
    position: relative;
}
.nav__logo{
    margin-top: 5%;
    width: 8%;
}
.nav__link{
    font-weight: 300;
    display:inline-block;
    text-shadow: 0px 0px 10px RGBA(0, 0, 0, 0.1);
    color: white;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 10px;
}


@media (min-width: 980px){

    .nav__logo{
        margin-top: 50px;
        width: 8%;
    }
    .nav__link{
        font-weight: 300;
        display:inline-block;
        text-shadow: 0px 0px 10px RGBA(0, 0, 0, 0.1);
        color: white;
        margin-right: 30px;
        margin-left: 30px;
        font-size: 18px;
    }
  }